@model SP_ASPNET_1.Models.Author
<div id="Login" style="border: 1px solid #f1eaea; background-color: #eaf2ff;">

    <div class="Login" style="margin-left: 30%;  margin-bottom: 5px; margin-top: 8px;">
        <input type="text" id="UserName" placeholder="Enter EmailId...." style="display: inline;" />
        <input type="text" id="UserPwd" placeholder="Enter  Password...." style="display: inline;" />
        <button type="button" id="btn-Login" class="btn btn-default" value="Login"></button>
    </div>
</div>

